* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */

   @font-face {
    font-family: 'Gelion-Regular';
    src: url('../public/assets/fonts/gelion-cufonfonts-webfont/Gelion\ Regular.woff');
      font-style: normal;
      font-weight: normal;
  }
  
  @font-face {
    font-family: 'Gelion-Medium';
    src: url('../public/assets/fonts/gelion-cufonfonts-webfont/Gelion\ Medium.woff');
      font-style: normal;
      font-weight: normal;
  }
  
  @font-face {
    font-family: 'Gelion-Bold';
    src: url('../public/assets/fonts/gelion-cufonfonts-webfont/Gelion\ SemiBold.woff');
      font-style: normal;
      font-weight: normal;
  }
  
  /* // html {
  //   position: relative;
  //   min-height: 100%;
  //   margin: 0 !important;
  // } */
  
  body {
    font-family: 'Gelion-Regular', 'Gelion-Medium', 'Gelion-Bold';
    -webkit-font-smoothing: antialiased;
    margin: 0 !important;
  }
  
  a {
    text-decoration: none;
  }
  